@import url(
  'https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap'
);
@import "tailwindcss";

@theme {
  --color-bg: #fffbe8;
  --color-base: #fff8d6;
  --color-text: #101219;
  --color-blue: #006ba8;

  --color-black: #1e1e1e; 

  --color-green: #67ff5c;
  --color-red: #ff7070;
  --color-white: #fefefc;
  --color-black: #1c1f2a;
}

* {
  transition-property: border-color, scale, width;
  transition-duration: 300ms;
  transition-timing-function: ease-in-out;
  
  font-family: 'Playfair Display', serif;
}

a {
  color: var(--color-blue);
}
