@import url( 'https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cabin:ital,wght@0,400..700;1,400..700&display=swap');
@import "tailwindcss";

@theme {
  --color-bg: #fffbe8;
  --color-base: #fff8d6;
  --color-text: #101219;

  --color-brown: #241915;
  --color-blue: #1e90ff;
  --color-black: #1e1e1e; 
  --color-green: #328c2b;
  --color-red: #d62d2d;
  --color-white: #fefefc;
  --color-border: #1c1f2a80;
}

body {
  background-size: 40px 40px;
  background-position: center;
  background-image:
    linear-gradient(to right, #1c1f2a33 1px, transparent 1px),
    linear-gradient(to bottom, #1c1f2a33 1px, transparent 1px);
}

* {
  transition-property: border-color, scale, width;
  transition-duration: 300ms;
  transition-timing-function: ease-in-out;
  
  font-family: 'Cabin', sans-serif;

  border-color: var(--color-border);
}

.fancy {
  font-family: 'Playfair Display', serif;
}

a {
  color: var(--color-blue);
}

input {
  border-width: 1px;
  border-radius: 0.5rem;
  padding: 0.5rem;
  outline: none
}

input:focus {
    outline: none
}

button:hover {
  cursor: pointer;
}